<h1>Sign Up</h1>
<div class="card">
    <form action="../users/create" method="POST">
        <input type="text" placeholder="Your Name" name="name" required>
        <input type="email" placeholder="Your Email" name="email" required>
        <input type="password" placeholder="Password" name="password" required>
        <input type="password" placeholder="Confirm Password" name="confirm_password" required>
        <input type="submit" value="Sign UP">
    </form>
    <p>
        <a href="/users/auth/google">Google Sign In/SignUp</a>
    </p>
</div>