footer{
    height:300px;
    // background:linear-gradient(60deg,rgb(24, 24, 60),rgb(244, 14, 14),rgba(212, 8, 243, 0.489));
    h2{
        cursor:pointer;
        font-size: 72px;
  background: -webkit-linear-gradient(90deg,#dd7b7b,rgb(7, 5, 132) 90%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
        transition:0.8s ease-in-out 8ms;
    }
   h2:hover{
    background: -webkit-linear-gradient(90deg, #170d99,#dd7b7b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
        
        cursor:pointer;
    }
}